/* Theme */
/* Colors */
/* Sizes */
div.addui-Toggle-field {
  display: inline-block;
  margin: 0;
  padding: 16px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  cursor: pointer;
}

div.addui-Toggle-field * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

div.addui-Toggle-field div.addui-Toggle {
  display: inline-block;
  background: #e0e0e0;
  width: 50px;
  height: 16px;
  border-radius: 99px;
  position: relative;
  margin: 7px;
  cursor: pointer;
  transition: background 0.5s;
}

div.addui-Toggle-field div.addui-Toggle div.addui-Toggle-handle {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 99px;
  background: #f5f5f5;
  position: absolute;
  top: -7px;
  left: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  transition: left 0.5s, background 0.5s, box-shadow 0.5s;
}

div.addui-Toggle-field.addui-Toggle-on div.addui-Toggle {
  background: rgba(63, 81, 181, 0.5);
}

div.addui-Toggle-field.addui-Toggle-on div.addui-Toggle .addui-Toggle-handle {
  left: 20px;
  background: #3f51b5;
  box-shadow: 0 0 3px rgba(63, 81, 181, 0.5);
}

div.addui-Toggle-field div.addui-Toggle-placeholder {
  display: inline-block;
  width: calc(100% - 100px);
  height: 20px;
  line-height: 20px;
  vertical-align: top;
  padding: 0 16px;
  margin: 5px 0;
  font-size: 16px;
}
