body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
}

#accordion {
    margin-top: 110px;
}

.navbar {
    height: 70px;
}

.navbar-brand {
    padding: 10px 0px 0px 10px;
}

.navbar-toggle {
    margin: 18px 15px 0px 0px;
}

.test-app {
    color: white;
    margin-top: 38px;
    position: absolute;
    font-size: 15px;
    font-weight: bold;
}

.section-1, .section-2, .section-3 {
    font-size: 20px;
}

h4 {
    text-align: left;
}

.section-category {
    float: right;
    position: relative;
    top: -21px;
    font-size: 18px;
    color: #9e9e9e;
}

.room-category {
    float: right;
    position: relative;
    top: -18px;
    font-size: 18px;
    color: #9e9e9e;
}

.coffee-on {
    display: none;
}

.coffee-off {
    display: none;
}

.light-on {
    display: inherit;
}

.light-off {
    display: none;
}

.light5-on {
    display: inherit;
}

.light5-off {
    display: none;
}

.switch1-on {
    display: inherit;
}

.switch1-off {
    display: none;
}

.drencher-on {
    display: inherit;
}

.drencher-off {
    display: none;
}

.garder-light-on {
    display: none;
}

.garder-light-off {
    display: none;
}

div .panel-body-filled img {
    margin: 0px 0px 0px 30px;
}

div .panel-heading-section {
    text-transform: uppercase;
    padding: 20px 25px;
}

.panel-heading-room {
    text-transform: uppercase;
    padding: 15px 25px;
}

.panel-collapse .collapse in {
    border-color: red;
}

.multi-switch .switch-content {
    background: none;
    /*background-color: #D97C6F;*/
    background-color: #cacaca;
    height: 34px;
    position: relative;
    cursor: pointer;
    border: solid;
    border-width: 2px;
    border-color: #347bb9;
}


.multi-switch {
    float: right;
    margin: 30px 30px 0px 0px;
}

.multi-switch .switch-content.active {
    background-color: #347bb9;
}

.panel-body {
    padding: 20px 15px 0px 15px;
}

.panel-body-filled {
    background-color: #f7f7f7;
    height: 140px;
    padding: 10px 0px 0px 5px;
}

#collapse2 {
    background-color: #f5f5f5;
}

.panel-group .panel-heading {
    border-bottom: 0;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f3f3f3;
    border-color: #ddd;

}

.panel-default>.panel-heading:hover {
    color: #333;
    background-color: #ddd;
    border-color: #ddd;
}

.heading-device {
    font-weight: bold;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
.toggle.ios .toggle-handle { border-radius: 20px; }

#wrapper {
    width: 150px;
}
#slider-bulb-1 {
    float: left;
    width: 150px;
    display: inline-block;
    margin: 10px;
}

#slider-bulb-2 {
    float: left;
    width: 150px;
    display: inline-block;
    margin: 10px;
}

#slider-bulb-3 {
    float: left;
    width: 150px;
    display: inline-block;
    margin: 10px;
}

#slider-bulb-4 {
    float: left;
    width: 150px;
    display: inline-block;
    margin: 10px;
}

#slider-roulette-1 {
    float: left;
    width: 150px;
    display: inline-block;
    margin: 10px;
}

#slider2 {
    float: left;
    width: 150px;
    display: inline-block;
    margin: 10px;
}

#light-bulb {
    padding: 5px;
}

.humidity-value {
    font-size: 26px;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
    -ms-touch-action: none;
    touch-action: none;
}

.multi-switch .switch-content .switch-circle {
    width: 28px;
    height: 28px;
}

.ui-widget-content {
    border: 1px solid #ddd;
    background: #e9e9e9;
    /* color: #333333; */
}

.ui-widget.ui-widget-content {
    border: 2px solid #347bb9;
}

.ui-slider-horizontal {
    height: .8em;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 2.0em;
    height: 2.0em;
    cursor: pointer;
    -ms-touch-action: none;
    touch-action: none;
    border-radius: 100%;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.7em;
    margin-left: -.6em;
}


.ui-visual-focus {
    box-shadow: 0 0 3px 1px rgb(94, 158, 214);
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #c5c5c5;
    background: #fff;
    font-weight: normal;
    color: #454545;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #347bb9;
    background: #fff;
    font-weight: normal;
    color: #ffffff;
}

.ui-widget-header {
    border: 1px solid #dddddd;
    background: #347bb9;
    color: #333333;
    font-weight: bold;
}

/* ---------  IOS slider -------- */

.range-bar {
    background-color: #a9acb1;
    border-radius: 15px;
    display: block;
    height: 4px;
    position: relative;
    width: 100%;
}

.range-quantity {
    background-color: #017afd;
    border-radius: 15px;
    display: block;
    height: 100%;
    width: 0;
}

.range-handle {
    background-color: #fff;
    border-radius: 100%;
    cursor: move;
    height: 30px;
    left: 0;
    top: -13px;
    position: absolute;
    width: 30px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.range-min,
.range-max {
    color: #181819;
    font-size: 12px;
    height: 20px;
    padding-top: 4px;
    position: absolute;
    text-align: center;
    top: -9px;
    width: 24px;
}

.range-min {
    left: -30px;
}

.range-max {
    right: -30px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    left: 25px;
    top: 20px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 28px;
    width: 28px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 3px 3px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 3px 3px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 3px 3px 0px rgba(0,0,0,0.1);
}

input:checked + .slider {
    background-color: #347bb9;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
    border: solid;
    border-width: 2px;
    border-color: #347bb9;
}

.slider.round:before {
    border-radius: 50%;
}